html{
  height:100%;
}
body{
  padding:0;
  margin:0;
  text-transform: uppercase;
}
.wrapper{
  overflow:hidden;
}
img{
  margin-top: 3px;
  width: 30%;
  height: 30%;   
  display: block;
  margin-left: 80px;
}
.navScroll {
  border-right: solid rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 270px;
  height: 409px;
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.navScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.navScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
section{
  padding:30px 30px 0px 30px;
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}
nav{
  position:fixed;
  top:0;
  left:0;
  width:270px;
  height:100%;
  margin:0 0 0 -270px;
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  border-right: solid rgb(255, 0, 0);
  transition:all 200ms ease-in;
}
nav ul{
  width:270px;
  height:100%;
  padding:0;
  margin:0;
  list-style:none;
  background:rgb(255, 255, 255);
  overflow:hidden;
}
nav ul li{
  margin:0;
}
nav a {
  display:block;
  font-weight: bold;
  color:rgb(0, 0, 0);
  font-size:15px;
  font-family:'helvetica neue', helvetica, arial, sans-serif;
  text-decoration:none;
  padding:12px;
  font-weight:300;
  border-bottom:3px solid rgb(255, 0, 0);
  transition: 0.5s;
}
#a:hover{
  font-family:'helvetica neue', helvetica, arial, sans-serif;
  background: #ffba00;
  border-radius: 0 0 30px 30px;
  color: #ffffff;
  font-weight: bold;
}
#label{
  cursor: pointer;
  display:block;
  width:42px;
  height:42px;
  line-height:42px;
  color:#fff;
  text-align:center;
  font-size:2em;
  line-height:1.1em;
  position:fixed;
  top:10px;
  left:10px;
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
  z-index:500;
}
.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: rgb(0, 0, 0);
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.3s ease-in-out;
  transform: none;
}
#navigation:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color:  #ff0000;
}
#navigation:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color:  #ff0000;
}
#navigation:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}
#navigation:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}
input[type="checkbox"]{
  display:none;
}
input[type="checkbox"]:checked ~ nav{
  margin:0;
}
input[type="checkbox"]:checked ~ #label{
  left:280px;
}
input[type="checkbox"]:checked ~ section{
  -webkit-transform:translate3d(260px, 0, 0);
  -moz-transform:translate3d(260px, 0, 0);
  -o-transform:translate3d(260px, 0, 0);
  transform:translate3d(260px, 0, 0);
}
.cbm{
  color: #ff0028;
  font-weight: bold;
}
footer {
  position: absolute;
  bottom: 0;
  margin-top: 8px;
  margin-left: 40em;
  font-size: 12px;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(6, 245, 26), rgb(50, 7, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#p {
  position: absolute;
  left:0;
  bottom: 0px;
  margin-left: 8px;
  font-size:15px;
  font-weight: bold;
  color:rgb(255, 0, 0)
}
#name:hover{
  color:  rgb(255, 0, 0);
}
#logout{
  position: absolute;
  right: 0;
  margin-right: 8px;
  bottom: 0;
  border-bottom: none;
  color:rgb(205, 0, 0);
}
#pos{
  width: 25px;
  height: 25px; 
  margin-right: 1em;
}