td{
    font-size: 15px;
    color: black;
    height: 50px;
    width: 250px;
}
th {
    font-size: 15px;
    height: 50px;
    background-color: #009900;
    color: white;
    width: 250px;
}
.scroll-table-container {
    height: 450px;
    /* width: 1220px; */
    width: 100%;
    overflow: scroll;
    text-align: center;
}
