
 #loader {
    border: 12px solid #ffffff;
    border-radius: 50%;
    border-top: 5px solid #fa0808;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    100% {
        transform: rotate(360deg);
    }
  }
  
  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }